.member-tabs > .tab-content {
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
  width: 50vw;
}

@media (max-width: 767px) {
  .member-tabs > .tab-content {
    width: 100%;
  }
}

  
