.img-circle {
    max-height: 50px;
}
.message-row {
    max-height: 50px; /* Set max height for the table row */
    overflow: hidden;
}

.message-content {
    overflow-x: hidden;
    text-overflow: ellipsis;
}
