.dating-container {
  min-height: 90vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.dating-container .container {
  height: 100%;
}

@media (max-width:767px) {
    .inlineOverride {
      padding-top: 100px;
    }       
 }  
