<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <img src="./assets/heart.png" class="logo-img" alt="logo">
      <a class="navbar-brand logo-text pb-2 mb-1 me-auto me-md-2" routerLink="/" routerLinkActive="active">SundayCruise</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0 d-md-flex d-none">
          <ng-container *ngIf="accountService.currentUser$ | async" dropdown>
            <li class="nav-item">
              <a class="nav-link" 
                routerLink="/members" 
                [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
            <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
              <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
            </li>
          </ng-container>
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <img src="{{user.photoUrl || './assets/user.png'}}" class="img-border" alt="userphoto">
            <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle> Welcome {{ user.knownAs | titlecase }}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu="">
                <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <form #loginForm="ngForm" class="d-md-flex d-none" (ngSubmit)="login()" autocomplete="off" *ngIf="!(accountService.currentUser$ | async)">
          <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2"
            type="text" placeholder="Username">
          <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2" 
            type="password" 
            placeholder="Password">
          <button class="btn btn-success" type="submit">Login</button>
        </form>
      </div>
  </nav>