<div class="mt-3 row h-100">
    <div class="text-center mt-3">
        <h2>{{predicate === 'liked' ? 'Members I like' : 'Members who like me'}}</h2>
    </div>
    
    <div class="container mt-3">
        <div class="d-flex justify-content-center">
            <div class="btn-group">
                <button class="btn btn-primary" btnRadio="liked" [(ngModel)]="predicate" (click)="loadLikes()">Members I
                    like</button>
                <button class="btn btn-primary" btnRadio="likedBy" [(ngModel)]="predicate" (click)="loadLikes()">Members who
                    like me</button>
            </div>
        </div>
        <div class="row mt-3 justify-content-center gap-4">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-5 px-md-0" *ngFor="let member of members">
                <app-member-card [member]="member"></app-member-card>
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-center mt-3" *ngIf="pagination && members && members.length > 0">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
            [maxSize]="10" [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
    <div *ngIf="members && members.length == 0" class="mt-3">
        <p class="text-center">No members are here yet :)</p>
    </div>
</div>
