<h4>Internal Server error - refreshing the page will make the error disappear</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this, then Angular is not to blame</p>
    <p>What to do next</p>
    <ol>
        <li>Open Chrome dev tools</li>
        <li>Check the failing request in the network tab</li>
        <li>Examine the request url - what endpoint is being requested</li>
        <li>Try to reporduce in Postman</li>
    </ol>
    <p style="font-weight: bold;">Stack Trace</p>
    <code class="mt-5" style="background-color: whitesmoke">
        {{error.details}}
    </code>
</ng-container>
