<div class="row mb-4 w-100 gap-4" *ngIf="member">
    <div class="col-sm-6 col-md-4 mb-3 row justify-content-center" *ngFor="let photo of member.photos">
        <img src="{{photo.url}}" alt="photo of user" class="img-thumbnail mb-1">
        <div class="text-center d-flex gap-2 justify-content-center">
            <button 
                class="btn btn-sm"
                [disabled]="photo.isMain"
                (click)="setMainPhoto(photo)"
                [ngClass]="photo.isMain ? 'btn-success active' : 'btn-outline-success'"
            >Main</button>
            <button 
                class="btn btn-sm btn-danger"
                [disabled]="photo.isMain"
                (click)="deletePhoto(photo.id)"
            ><i class="fa fa-trash"></i></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <h3>Add Photos</h3>
        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="card bg-faded p-3 text-center mb-3 my-drop-zone">
             <i class="fa fa-upload fa-3x"></i>
            Drop photos here
        </div>
        Or click here to upload
        <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
    </div>

    <div class="col-sm-6 col-md-8">
        <div class="mb-4" *ngIf="uploader?.queue?.length">
            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader?.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader?.options?.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                </tr>
                </tbody>
            </table>

            <div class="d-flex flex-column gap-2">
                <div>
                    Queue progress:
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader?.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploader?.uploadAll()" [disabled]="!uploader?.getNotUploadedItems()?.length">
                    <span class="fa fa-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader?.cancelAll()" [disabled]="!uploader?.isUploading">
                    <span class="fa fa-ban"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader?.clearQueue()" [disabled]="!uploader?.queue?.length">
                    <span class="fa fa-trash"></span> Remove all
                </button>
            </div>
        </div>
    </div>
</div>
